<header>
  <a href="index.html" style="text-decoration: none; color: #000">
    <div class="logo">
      <img src="../../assets/img/logo.png" alt="" />
      <h2>Furniro</h2>
    </div>
  </a>
  <nav>
    <ul>
      <li>
        <a href="./index.html">Home</a>
        <a routerLink="/shop">Shop</a>
        <a href="">About</a>
        <a href="">Contact</a>
      </li>
    </ul>
  </nav>
  <div class="search-container">
    <!-- header/header.component.html -->
    <form (ngSubmit)="updateSearch(filterValue)">
      <div class="form-input">
        <input
          [(ngModel)]="filterValue"
          name="filterValue"
          placeholder="Search..."
          (ngModelChange)="updateSearch(filterValue)"
        />
        <button type="submit" class="search-btn">
          <i class="bx bx-search"></i>
        </button>
      </div>
    </form>
  </div>
  <div class="icons">
    <ng-container *ngIf="isLoggedIn; else loggedOut">
      <span class="text-gradient  fs-4">{{ username }}</span>
      <a class="fs-4" (click)="logout()" style="cursor: pointer; color: #000"
        ><i class="bx bxs-log-in-circle"></i
      ></a>
    </ng-container>
    <ng-template #loggedOut>
      <a class="fs-4" style="color: #000" routerLink="/login"
        ><i class="bx bxs-user"></i
      ></a>
    </ng-template>
    <a style="color: #000" class="fs-4"><i class="bx bxs-heart"></i></a>
    <a class="fs-4" style="color: #000" href=""
      ><i class="bx bxs-cart-alt"></i
    ></a>
  </div>
</header>
